body{
    background-color: rgba(20, 152, 95, 0.822);
    height: 100vh;
}
.mainContainer{
    display: flex;
    gap:100px;
    justify-content: center;    
    
}
img{
    width:80px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 100%;
}
h1{
    margin-top: 60px;
    margin-left: 20px;
    font-size: 70px;
    color: white;
    
}
.Logo{
display: flex;
flex-direction: row;
margin-top: 50px;
}
.textForLogo{
    margin-top: 30px;
    margin-left: 10px;
    color: white;
}
.logosubText{
    font-size: 10px;
}
.leftContainer{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    background-color: white;
    width: 30%; 
    height:360px;
    border-radius: 30px;
    
}
p{
    font-size: 40px;
    margin-left: 130px;
    font-weight: bold;
}
.textBoxAndButton{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 80%;
    margin-left: 50px;
}
.checkboxAndLink{
    display: flex;
    flex-direction: row;
    gap:100px;
    margin-left: 45px;
    margin-top: 30px;
}
.registerLink{
    margin-left: 130px;
    margin-top: 40px;
    color: rgba(198, 196, 196, 0.79);
}
button{
    background-color: rgba(20, 152, 95, 0.822);
    color: white;
}
a{
    color: rgba(20, 152, 95, 0.822);
    text-decoration: none;
}
.bottomPara{
    color: white;
    margin-top: 200px;
    margin-left: 20px;
}

