<body>
<div class="mainContainer">
    <div class="rightContainer">
        <div class="Logo">
        <img src="../../assets/download.jpg">

        <div class="textForLogo">
        <div class="logoText">EXCLUSIVE ADDONS</div>
        <div class="logosubText">FOR ELEMENTOR</div>
        </div>

        </div>
        <h1>Create<br> Custom<br>Login Form</h1>
        
    </div>

    <div class="leftContainer">
        <p>Log in</p>
        <div class="textBoxAndButton">
        <input type="text" placeholder="User Name/Email Address">
        <input type="text" placeholder="password">
        <button type="submit">Log in</button>
        </div>

        <div class="checkboxAndLink">
            <div class="checkbox">
        <input type="checkbox">Remember Me
            </div>
        <a href="#">Lost Your Password?</a>
        </div>
        <div class="footer">
            Register for an account
        </div>
    </div>

</div>
</body>