<body>
<div class="mainContainer">
    <div class="rightContainer">
        <h1>Welcome</h1>
        <div class="para">
            <p>You are 30 seconds away<br>from earning your own<br>money!</p>
        </div>
        <div class="loginBtn">
        <button type="submit">Login</button>
        </div>
    </div>
    <div class="leftContainer">
        <div class="head">
            <p>Apply as a Employee</p>
        </div>
        <div class="textBox">
            <div class="rightTextBox">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <input type="text" name="password" placeholder="Password">
            <input type="text" name="confirmPassword" placeholder="Confirm Password">
            <div class="radioButton">
            <input type="radio" name="Male">Male
            <input type="radio" name="Female">Female
            </div>
            </div>
            <div class="leftTextBox">
            <input type="text" name="email" placeholder="Your Email">
            <input type="text" name="cel" placeholder="Your Phone">
            <input type="text" name="firstName">
            <input type="text" name="firstName" placeholder="Enter Your Answer">
            </div>
            
        </div>
        <div class="registerButton">
        <button type="submit">Register</button>
        </div>
    </div>
</div>
</body>